
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

}  
    body {
    
        
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    max-width: 420px;
    margin-bottom:5px  ;
    margin-left: 550px;
    margin-top: 150px;
    padding: 70px;
    border: 1px solid #141313;
    border-radius: 5px;
    background:transparent;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    color: rgb(8, 8, 8);
    padding: 20px 44px 20px 20px;
    box-shadow: #141313;
}

.form-group {
    margin-bottom: 15px;
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.form-group input::placeholder{
    color: antiquewhite;
    color: black;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #2a078a;
    border-radius: 40px;
}


.error {
    color: red;
}

.success {
    color: green;
}
button{
    width: 100%;
    height: 45px;
    background: blue;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px black;
    cursor: pointer;
    font-size: 16px;
    color: rgb(35,25,25);
    font-weight: 600;
}